* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2563eb;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;

  --sidebar: #0f172a;
  --background: #f8fafc;
  --card: #ffffff;

  --text: #0f172a;
  --border: #e2e8f0;
}

body {
  font-family:
    Inter,
    system-ui,
    sans-serif;

  background-color:
    var(--background);

  color: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  opacity: 0.9;
}

input,
select {
  width: 100%;
  padding: 12px;

  border: 1px solid
    var(--border);

  border-radius: 8px;

  outline: none;

  font-size: 14px;
}

input:focus,
select:focus {
  border-color:
    var(--primary);
}

table {
  border-collapse: collapse;
  background: white;
}

th {
  background: #f1f5f9;
}

th,
td {
  padding: 14px;
  border: 1px solid
    var(--border);
  text-align: left;
}